.offer__item--picture {
  position: relative;
  height: 294px;
}

.offer__item--picture > .offer__item--category {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $third-color;
  background-color: rgba(47, 48, 58, 0.8);
}
.offer__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: $main-color;
}
